<%- include('./partials/header') %>
<div class="w-full h-screen flex items-start px-20 py-20">
  <div class="w-[25%] flex h-screen flex-col items-start">
    <div class="flex items-center gap-2">
      <h3>sort by</h3>
      <form action="/shop">
        <select class="border-[1px] px-2 py-1" name="sortby" id="">
          <option value="popular">Popular</option>
          <option value="newest">Newest</option>
        </select>
      </form>
    </div>
    <div class="flex flex-col mt-20">
      <a class="block w-fit mb-2" href="">New Collection</a>
      <a class="block w-fit mb-2" href="">All Products</a>
      <a class="block w-fit mb-2" href="">Discounted Products</a>
    </div>
    <div class="mt-32">
      <a class="block w-fit mb-2" href="">Filter by :</a>
      <a class="block w-fit mb-2" href="">Availability</a>
      <a class="block w-fit mb-2" href="">Discount</a>
    </div>
  </div>
  <div class="w-[75%] flex flex-col gap-5 h-screen">
    <div class="flex items-start flex-wrap gap-5">
      <% if (products.length <= 0) { %>
      <div class="w-full h-full flex items-center justify-center">
        <h3 class="text-2xl">No products found</h3>
      </div>
      <% } else { %> <% products.forEach(function(product) { %>
      <div class="w-60">
        <div
          class="w-full h-52 flex items-center justify-center bg-[<%= product.bgColor %>]"
        >
          <img
            class="h-[12rem]"
            src="data:image/jpeg;base64,<%= product.image.toString('base64') %>"
            alt=""
          />
        </div>
        <div
          class="flex justify-between bg-[<%= product.panelColor %>] items-center px-4 py-4 text-[<%= product.textColor %>]"
        >
          <div>
            <h3><%= product.name %></h3>
            <h4>₹ <%= product.price %></h4>
          </div>
          <button
            class="w-7 h-7 flex items-center justify-center rounded-full bg-white"
            onclick="addToCart('<%= product._id %>')"
            title="Add to Cart"
          >
            <i class="ri-add-line"></i>
          </button>
        </div>
      </div>
      <% }); %> <% } %>
    </div>
  </div>
</div>
<script>
  function addToCart(productId) {
    fetch(`/addtocart/${productId}`, {
      method: "POST",
      credentials: "include",
    })
      .then((res) => {
        if (res.redirected) {
          window.location.href = res.url;
        }
      })
      .catch((err) => console.error(err));
  }
</script>

<%- include('./partials/footer') %>
